<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>26974073647-uf78rft3j3lo5uep516stf3969k4ignv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.26974073647-uf78rft3j3lo5uep516stf3969k4ignv</string>
	<key>API_KEY</key>
	<string>AIzaSyASg5SaLZqWTWZK2r_QXf4nMhz9luLh3Z0</string>
	<key>GCM_SENDER_ID</key>
	<string>26974073647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.takehiro.reception-desk</string>
	<key>PROJECT_ID</key>
	<string>reception-desk-iphone</string>
	<key>STORAGE_BUCKET</key>
	<string>reception-desk-iphone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:26974073647:ios:e2a3344acf3f5249</string>
	<key>DATABASE_URL</key>
	<string>https://reception-desk-iphone.firebaseio.com</string>
</dict>
</plist>